
main {
    background-color: #f4e7ff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:0 auto;
    width: 80%;
    max-width: 600px;
}

#title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#description {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#survey-form {
    display: block;
    margin: 5px;
    align-items: center;
    justify-content: center;}

#button{
    display: block;
    margin: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
}